<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3> Something went wrong</h3>
		<a class='btn btn-primary' href='/'>Home</a>
</div>

<div><%=message%></div>

<%- include ('templates/footer'); -%>